* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

::selection {
  background-color: var(--special);
  color: var(--bg-color);
  padding: 1.6rem 3.2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  position: relative;
}

.wrapper {
  width: 95%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  padding: 0rem 2.5rem;

  @media screen and(min-width: 768px) {
    max-width: 768px;
  }
  @media screen and(min-width: 1024px) {
    max-width: 1024px;
  }
}

section {
  padding: 4rem 0rem;

  @media screen and(min-width: 768px) {
    padding: 6rem 0rem;
  }
  @media screen and(min-width: 1024px) {
    padding: 8rem 0rem;
  }
}
