.card {
  background-color: var(--card);
  padding: 2.2rem;
  border: 0.2rem solid var(--card-border);
  border-radius: 1rem;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  & span {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--special);
    margin-bottom: 0.55rem;
  }

  & h4 {
    font-size: 1.8rem;
  }

  & p {
    font-size: 1.4rem;
    margin: 0rem 0rem 3rem 0rem;
  }

  &__container {
    margin-top: 3rem;
  }
}
