.card {
  background-color: var(--card);
  padding: 1.6rem;
  border: 0.1rem solid var(--card-border);
  border-radius: 1rem;
  margin-bottom: 2.4rem;

  @media only screen and(min-width: 768px) {
    margin-bottom: 0rem;
    padding: 3.2rem;
  }

  @media only screen and(min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  &__container {
    @media only screen and(min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.6rem;
    }

    @media only screen and(min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__top {
    margin-bottom: 1.6rem;
  }

  &__bottom {
    display: flex;
    gap: 1.6rem;
  }
}
